<main-header [title]="'Liste bearbeiten'" [hasCancel]="true" (btnCancel)="cancel()"></main-header>

<div *ngIf="list">
  <form [formGroup]="inventoryEditForm">
    <div class="inventory-edit">
      <div class="inventory-edit__wrapper">
        <span class="inventory-edit__label">Name</span>

        <input class="inventory-edit__data" [(ngModel)]="list.name" type="text" value="{{list.name}}" formControlName="listName">
        <div class="inventory-edit__validListNameMsg" *ngIf="!inventoryEditForm.get('listName').valid">
          Bitte erfassen Sie einen Listennamen.
        </div>
      </div>
    </div>

    <div class="inventory-edit__wrapper">
      <button type="button" class="inventory-edit__deleteBtn" (click)="delete()">L&ouml;schen</button>
    </div>
  </form>

  <action-button *ngIf="inventoryEditForm.valid" [stateList]="stateList" (btnClick)="save()"></action-button>
</div>
