<main-header [title]="'Profile bearbeiten'" [hasCancel]="true" (btnCancel)="cancel()"></main-header>

<form [formGroup]="profileForm">
  <div class="profile-edit">
    <div class="profile-edit__wrapper">
      <span class="profile-edit__label">Benutzername</span>
      <input class="profile-edit__data" [(ngModel)]="displayName" type="text" value="{{displayName}}" formControlName="profileName">
      <div class="profile-edit__validProfileNameMsg" *ngIf="!profileForm.get('profileName').valid">
        Bitte erfassen Sie einen Benutzernamen.
      </div>
    </div>
  </div>
</form>
<action-button *ngIf="profileForm.valid" [stateList]="stateList" (btnClick)="save()"></action-button>
