/* COLORS */
$starry-blue: #001D29;
$ocean-blue: #013340;
$rain-blue: #236475;
$heaven-blue: #93B8C2;
$heaven-light-blue: #DCEFF5;

$dark-gray: #1E1E1F;
$medium-gray: #424143;
$default-gray: #67666A;
$light-gray: #807F83;
$ultralight-gray: #CBC9CF;

$success: #3D7340;
$warning: #FFD94F;
$error: #DD3322;
$info: #1D6193;

$bronze: #a46628;
$silver: silver;
$gold: gold;

/* SPACING */
$space-5: 5px;
$space-10: 10px;
$space-15: 15px;
$space-20: 20px;
$space-25: 25px;
$space-30: 30px;
$space-35: 35px;
$space-40: 40px;
$space-45: 45px;
$space-50: 50px;
$space-100: 100px;

/* RADIUS */
$radius-3: 3px;
$radius-5: 5px;
$radius-8: 8px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;

/* FONTS */
$os-light: 'Open Sans Light';
$os-regular: 'Open Sans Regular';
$os-italic: 'Open Sans Italic';
$os-semibold: 'Open Sans SemiBold';
$os-bold: 'Open Sans Bold';

/* BREAKPOINTS */
$bp-m: 500px;
$bp-l: 768px;
$bp-xl: 1400px;
