@import "../assets/basics/css/variables.scss";

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
  }
}

@media (min-width: $bp-l) {
  .app {
    flex-direction: column-reverse;
  }
}


