@import "../../../../assets/basics/css/variables.scss";

.search-detail {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  &__label {
    color: $light-gray;
  }

  &__label--photo,
  &__photo {
    display: flex;
    justify-content: center;
  }

  &__data {
    color: $ocean-blue;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $ultralight-gray;
    padding: $space-5 $space-15;
  }

  &__wrapper--photo {
    justify-content: center;
  }

  &__photo {
    font-size: 80px;
    color: $ultralight-gray;
  }
}
