@import "./assets/basics/css/variables.scss";
@import "./assets/basics/css/fonts.scss";

/* GLOBALS */
 body {
   margin: 0;
   box-sizing: border-box;
   font-family: $os-light;
   height: 100vh;
   width: 100vw;
 }
