<main-header [title]="componentName" [hasBack]="true" (onBtnBack)="goBack()"></main-header>

<div class="inventory-items">
  <div class="inventory-items__item" *ngFor="let item of inventoryListItems | async" [routerLink]="['/inventory-item-detail', item.$key, listID]">
    <span class="inventory-items__item-title">{{item.name}} | {{item.count}}</span>
    <i *ngIf="item.hasWarning" class="fas fa-exclamation-triangle inventory-items__warning" title="Abweichungen im Inventar"></i>
  </div>
</div>

<action-button [stateList]="stateList"></action-button>
