@import "../../../../../assets/basics/css/variables.scss";

.navigation--desktop {
  display: none;
}

@media (min-width: $bp-l) {
  .navigation--desktop {
    display: flex;
    justify-content: center;
    border-top: none;
    box-shadow: 1px 1px 1px 1px $ultralight-gray;

    .navigation {

      &__left {
        display: flex;
      }

      &__item {
        position: relative;
        margin-right: $space-20;

        &:last-child {
          margin-right: 0;
        }

        &:hover::after {
          height: 3px;
        }

        &::after {
          content: "";
          width: 100%;
          height: 0;
          background-color: $heaven-blue;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: height 0.3s ease-in-out;
        }
      }

      &__item--active {
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background-color: $heaven-blue;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: height 0.3s ease-in-out;
        }
      }
    }
  }
}
