<main-header [title]="title" [hasCancel]="true" (btnCancel)="cancel()"></main-header>

<form [formGroup]="listAddForm">
  <div class="list-add">
    <div class="list-add__wrapper">
      <span class="list-add__label">Name</span>
      <input class="list-add__data" [(ngModel)]="listName" type="text" formControlName="listAddName">
      <div class="list-add__validListNameMsg" *ngIf="!listAddForm.get('listAddName').valid">
          Bitte erfassen Sie einen Listennamen.
        </div>
    </div>
  </div>
</form>

<action-button *ngIf="listAddForm.valid" [stateList]="stateList" (btnClick)="save()"></action-button>
