@import "../../../../assets/basics/css/variables.scss";

.list {
  display: flex;
  flex-direction: column;

	&__item {
    padding: $space-15;
    border-bottom: 1px solid $ultralight-gray;
    position: relative;
    align-items: center;
    display: flex;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 19px;
      right: 15px;
      background-image: url('../../../../assets/images/arrow-gray.png');
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 9px;
      height: 14px;
      transform: rotate(180deg);
    }
  }

  &__item-title {
    color: $ocean-blue;
    font-size: 13px;
  }

  &__ratingMedal {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: transparent;
    margin-right: $space-10;
  }

  &__ratingMedal--bronze {
    background-color: $bronze;
  }

  &__ratingMedal--silver {
    background-color: $silver;
  }

  &__ratingMedal--gold {
    background-color: $gold
  }

  &__warning {
    font-size: 20px;
    color: $warning;
    margin-right: $space-20;
  }
}

@media (min-width: $bp-l) {
  .list {
    &__item {
      &:hover {
        background-color: lighten($ultralight-gray, 12);
        cursor: pointer;
        transition: background-color 0.5s ease;
      }
    }
  }
}

