<div class="main-header">
  <div class="main-header__left">
    <i *ngIf="hasBack" class="fas fa-angle-left main-header__icon" title="" (click)="btnBack.emit()"></i>
    <i *ngIf="hasCancel" class="fas fa-times main-header__icon" title="" (click)="btnCancel.emit()"></i>
    <span class="main-header__title">{{title ? title: 'This is a title'}}</span>
    <i *ngIf="hasEdit" class="fas fa-pencil-alt main-header__icon main-header__icon--edit" routerLink="{{listEditRoute}}"></i>
  </div>
  <div class="main-header__right">

    <button class="main-header__logout" (click)="logout()">Logout</button>

    <div class="main-header__image-wrapper">
        <img class="main-header__image" src="../../../../assets/images/profile-image.png" alt="profile image">
    </div>
  </div>
</div>
