<div class="main-header">
  <div class="main-header__left">
    <i *ngIf="hasBack" class="fas fa-angle-left main-header__icon" title="" (click)="onBtnBack.emit()"></i>
    <i *ngIf="hasCancel" class="fas fa-times main-header__icon" title="" (click)="onBtnCancel.emit()"></i>
    <span class="main-header__title">{{title ? title: 'This is a title'}}</span>
  </div>
  <div class="main-header__right">
    <div class="main-header__image-wrapper">
        <img class="main-header__image" src="../../../../assets/images/profile-image.png" alt="profile image">
    </div>
  </div>
</div>
