@import "../../../../assets/basics/css/variables.scss";

.main-header {
  display: flex;
  justify-content: space-between;
	border-bottom: 2px solid $heaven-blue;

  &__left,
  &__right {
    display: flex;
  }

	&__title {
		padding: $space-15;
	}
}
