<main-header [title]="item.name + ' - Bearbeitung'" [hasCancel]="true" (onBtnCancel)="cancel()"></main-header>

<div class="inventory-item-detail-edit">
  <div class="inventory-item-detail-edit__wrapper">
    <span class="inventory-item-detail-edit__label inventory-item-detail-edit__label--photo">Foto</span>
    <i class="fas fa-camera inventory-item-detail-edit__photo"></i>
    <!-- <input type="file"> -->
  </div>
  <div class="inventory-item-detail-edit__wrapper">
    <span class="inventory-item-detail-edit__label">Name</span>
    <input class="inventory-item-detail-edit__data" [(ngModel)]="item.name" value="{{item.name}}">
  </div>
  <div class="inventory-item-detail-edit__wrapper">
    <span class="inventory-item-detail-edit__label">Anzahl</span>
    <input class="inventory-item-detail-edit__data" [(ngModel)]="item.count" value="{{item.count}}">
  </div>
  <div class="inventory-item-detail-edit__wrapper">
    <span class="inventory-item-detail-edit__label">Einzelwert in CHF / Gesamt: {{item.count * item.value}} CHF</span>
    <input class="inventory-item-detail-edit__data" [(ngModel)]="item.value" value="{{item.value}}">
  </div>

  <div class="inventory-item-detail-edit__wrapper">
    <button class="inventory-item-detail-edit__deleteBtn" (click)="delete()">L&ouml;schen</button>
  </div>
</div>

<action-button [stateList]="stateList" (onBtnClick)="save()"></action-button>
