@import "../../../../assets/basics/css/variables.scss";

.search {
  display: flex;
  flex-direction: column;

  &__filter {
    display: flex;
    flex-direction: row;
  }

  &__argument {
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
  }

  &__searchBtn {
    border: 1px solid $heaven-blue;
    background-color: $heaven-blue;
  }

  &__searchBtn--clear {
    background-color: $error;
  }

  &__icon {
    color: white;
  }

  &__no-result {
    color: $error;
    padding-top: $space-10;
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
