@import "../../../../assets/basics/css/variables.scss";

.search {
  display: flex;
  flex-direction: column;

  &__filter {
    display: flex;
    flex-direction: row;
  }

  &__argument {
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
    outline: none;
  }

  &__searchBtn {
    border: 1px solid $heaven-blue;
    background-color: $heaven-blue;
    outline: none;
  }

  &__icon {
    color: white;
  }
}
